<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h1 class="text-primary my-2" th:text="${titulo}"></h1>
		<a th:href="@{/agregar}" class="btn btn-primary" >Nuevo Cliente</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Fecha</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text=${cliente.apellido}></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.creadoEn}"></td>
					<td>
						<a th:href="@{/editar/} + ${cliente.id}" class="btn btn-warning">Editar</a>
					</td>
					<td>
						<a th:href="@{/eliminar/} + ${cliente.id}" class="btn btn-danger" 
						th:attr="onclick='return confirm(\'¿Realmente desea eliminar el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}  + '?\');'">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>